.VPSidebar,
.vt-doc.guide,
.vt-doc.api,
.VPContentDocOutline,
.edit-link {
  direction: rtl;
}

pre {
  direction: ltr;
}
.vt-doc .custom-block {
  padding: 22px 24px 4px 20px !important;
}
.vt-doc .custom-block:before {
  content: 'ⓘ';
  position: absolute;
  font-weight: 600;
  font-size: 15px;
  top: 28px;
  right: 12px;
}

.vt-doc .custom-block-title {
  margin-right: 14px;
}

.vt-doc ul {
  padding-left: auto;
  padding-right: 1.25rem;
}

.vt-doc ul > li:before {
  content: '•';
  right: -1.25rem;
}

.ar.vue-mastery-link .description {
  margin-right: 16px;
}

.vt-doc a[href^="https://sfc.vuejs.org"]:before
{
  padding-right: 2.5px;
}

.vt-doc .header-anchor {
  position: absolute;
  right: -24px;
}

.vt-doc ol > li:before {
  left: auto;
  right: 2px;
}

.vt-doc ol > li p {
  padding-right: 1.25rem;
}

.vt-badge.experimental:before {
  content: 'تجريبي';
}

.demo label {
  margin: 0 0.3em 0 1em;
}
.vt-doc blockquote {
  border-left:none!important;
  border-right: 0.2rem solid var(--vt-c-divider);
  padding-right: 1rem;
}

